<!DOCTYPE html>
<html>

<head>
  <title>Tag</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script defer type="text/javascript" src="/javascripts/materialize.min.js"></script>
</head>

<body class="black white-text">
  <nav class="black center-align">
    <% if (user) { %>
    <a href="/logout" class="btn">Log Out<i></i></a>
    <a href="/projects" class="btn">Projects</a>
    <% } else { %>
    <a href="/auth/google" class="btn">Login with Google<i></i></a>
    <% } %>
  </nav>
  <h3>Tag</h3>
  <% if (user) { %>
  <p>Welcome back, <%= user.name.match(/[^\s]+/) %></p>
  <% } else { %>
  <p>Welcome to Tag</p>
  <% } %>