<!DOCTYPE html>
<html>

<head>
  <title>Tag</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer type="text/javascript" src="/javascripts/materialize.min.js"></script>
  <script defer type="text/javascript" src="/javascripts/main.js"></script>
</head>

<body class="black white-text">
  <nav class="black center-align">
    <% if (user) { %>
    <a href="/logout" class="btn">Log Out</a>
      <a href="/projects" class="btn">Projects</a>
      <a href="/about" class="btn">About</a>
    <% } else { %>
    <a href="/auth/google" class="btn">Login with Google</a>
    <% } %>
  </nav>
  <h1>Tag</h1>
  <% if (user) { %>
  <p class="welcome">Hello, <%= user.name.match(/[^\s]+/) %></p>
  <% } else { %>
  <p class="welcome">Welcome to Tag</p>
  <% } %>