<%- include ./partials/header.ejs %>

    <h1>Helloooo</h1>
    <% if (user) { %>
    <p>Welcome back, <%= user.name.match(/[^\s]+/) %></p>
    <% } else { %>
        <p>Welcome to Hello page</p>
    <% } %>

<%- include ./partials/footer.ejs %>
