body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #26A59A;
}

a:hover {
  text-decoration: underline;
}

.project-form {
  height: 500px;
  width: 80vw;
}

/* below for testing only, organize better for display */
.content-display { 
  white-space: pre;
  height: 500px;
  width: 75vw; 
}

.search-bar {
  background-color: #26A59A;
  color: #26A59A;
}