body {
  padding: 15px 35px;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

.welcome {
  margin: 5px;
}

a {
  color: #26A59A;

}

a:hover {
  text-decoration: none;
}

.project-form {
  height: 500px;
  width: 80vw;
}

.content-display { 
  white-space: pre;
  height: 500px;
  word-wrap: normal;
}

.proj-name {
  width: 75vw !important; 
  height: 35px !important;
}

.search-bar {
  background-color: #26A59A;
  color: #26A59A;
}

.proj-name-hdr {
  width: 85vw;
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; */
  margin-bottom: 5px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: 
  "left right"
}

.proj-name-hdr-left {
  grid-area: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.proj-name-hdr-right {
  grid-area: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}



.proj-title {
  padding: 0;
  margin: 10px 10px 10px 0;
  display: inline;
}

/* styles list of projects on projects page */
.coll-width {
  width: 60%;
}

/* styles project list items on projects page */
.proj-item {
  font-size: 16px;
}

/* styles text in document display in locked view */
.locked-display {
  color: black;
  padding: 5px;
  /* white-space: pre; */
  height: 500px;
  word-wrap: normal;
}

/* formats textarea in edit view */
textarea.large-textarea{
  width: 85vw;
  height: 35rem !important;
  overflow-y: scroll;
  margin-bottom: 5px;
  margin-top: -12px;
}

.dropdown-menus {
  width: 500px;
  margin: 0 20px;
}

.btn-spcr {
  margin: 0 2px;
}

.version-name {
  margin-top: 0px;
  margin-bottom: 5px;
}

.collab {
  margin: 25px 0 10px 0;
}

.bottom-container {
  width: 85vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "left right"
}

.bottom-container-left {
  grid-area: left;
}

.bottom-container-right {
  grid-area: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.search-bar-container {
  width: 60%;
}

.remove-modal {
  text-align: center;
}

.btn {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}

.title-input {
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.create-btn-wrapper {
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}