body {
  padding: 15px 35px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

.welcome {
  margin: 5px;
}

a {
  color: #26A59A;
}

a:hover {
  text-decoration: underline;
}

.project-form {
  height: 500px;
  width: 80vw;
}

.content-display { 
  white-space: pre;
  height: 500px;
  word-wrap: normal;
}

.proj-name {
  width: 75vw !important; 
  height: 35px !important;
}

.search-bar {
  background-color: #26A59A;
  color: #26A59A;
}

.proj-name-hdr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}


/* .approval-btn:hover {
  cursor: default;
} */

.proj-title {
  padding: 0;
  margin: 10px 10px 10px 0;
}

/* styles list of projects on projects page */
.coll-width {
  width: 60%;
}

/* styles project list items on projects page */
.proj-item {
  font-size: 16px;
}

/* styles text in document display in locked view */
.locked-display {
  color: black;
  padding: 5px;
  /* white-space: pre; */
  height: 500px;
  word-wrap: normal;
}

/* formats textarea in edit view */
textarea.large-textarea{
  width: 85vw;
  height: 35rem !important;
  overflow-y: scroll;
  margin-bottom: 5px;
}

.dropdown-menus {
  width: 500px;
  margin: 0 20px;
}

.hdr-btn {
  margin: 0 2px;
}

.version-name {
  margin-top: 0px;
  margin-bottom: 5px;
}

.collab {
  margin: 35px 0 10px 0;
}