<%- include ../partials/header.ejs %>
<% if (projects[0]) { %>
<h2>My Projects</h2>
<div class="collection coll-width">
    <% projects.forEach(function(project){ %>
    <a href="/projects/<%= project._id %>" class="collection-item proj-item"><%= project.name %></a>
    <% }); %>
</div>
<% } %>
<a href="/projects/new" class="btn">New Project</a>
<%- include ../partials/footer.ejs %>