<%- include ../partials/header.ejs %>
    <h4>My Projects</h4>
        <% projects.forEach(function(project){ %>
            <h5><a href="/projects/<%= project._id %>"><%= project.name %></a></a></h5>
        <% }); %>
<%- include ../partials/footer.ejs %>
