<%- include ../partials/header.ejs %>
<h4>Start a New Project</h4>
<form class="project-form" action="/projects" method="POST">
    <label>Project Name:
        <input class="white proj-name" type="text" name="name">
    </label>
    <textarea class="white content-display" name="initVersion"></textarea>
    <input class="btn" type="submit" value="Create">
</form>

<%- include ../partials/footer.ejs %>